<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>go-dpo Example</title>
</head>
<body>
  <section id="app-content">
    <h1>Payment Failed</h1>
    <div class="columns">
      <div class="preview-card card text-center">
        <div class="card-header">Failed to process</div>
        <div class="card-body">
            <h2>Error</h2>
            <p>{{ .errorMessage }}</p>
            <h2>Token Request</h2>
            <p>{{ .createTokenRequest }}</p>
            <h2>Token Response</h2>
            <p>{{ .chargeToken }}</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>



