<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>go-dpo Example</title>
</head>
<body>
  <section id="app-content">
    <h1>Payment Complete for Example</h1>
    <div class="columns">
      <div class="preview-card card text-center">
        <div class="card-header">You have paid for the following plan</div>
        <div class="card-body">
          <h2>$ 0.30/month</h2>
          <h3>Features</h3>
          <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
            <li>Feature 4</li>
            <li>Feature 5</li>
          </ul>
        </div>
      </div>
    </div>
  </section>  
</body>
</html>
